*.iml
.gradle
/local.properties
./keys
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
env.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
