SUPABASE_ANON_KEY=
SUPABASE_URL=
GOOGLE_WEB_CLIENT_ID=
SPOTIFY_CLIENT_ID=
SPOTIFY_SECRET_KEY=

# DEBUG keys
DEBUG_KEYSTORE_PATH=/home/diego/keys/debug/debug.jks
DEBUG_KEY_ALIAS=ratemymusic
DEBUG_KEYSTORE_PASSWORD=
DEBUG_KEY_PASSWORD=
# RELEASE keys
RELEASE_KEYSTORE_PATH=/home/diego/keys/release/release.jks
RELEASE_KEY_ALIAS=release
RELEASE_KEYSTORE_PASSWORD=
RELEASE_KEY_PASSWORD=
